/* Base Layout */
.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f6f6f6;
  color: #333;
}

/* Sidebar */
.sidebar {
  width: 220px;
	background-color: #ffffff;
  padding: 2rem 1rem;
  z-index: 998;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
  height: 100%;
}

.sidebar .menu li {
  margin: 1rem 0;
  padding: 0.8rem 1rem;
  font-size: 14px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar .menu li:hover,
.sidebar .menu li.active {
  background: #f46d66;
  transition: 0.3s ease-in;
}

/* Main Section */
.main {
  flex: 1;
  padding: 2rem 3rem;
  overflow-y: auto;
}
.dashboard-header p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard-header p1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
  font-weight: 550;
}

.cards {
  display: flex;
  justify-content: space-between;
  
}
.card {
  background: white;
  width: 35vh;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  cursor: pointer;
}

.cards .card h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cards .card p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #d33c44;
  font-weight: 500;
}
.cards :hover {
  background-color: #e4e3e2;
  transition: 0.4s ease-in;
}
/* Recent Orders & Side Content */
.recent-side {
  display: flex;
  justify-content: space-between;
}

/* Side Content */
.recent-side .side-content{
  margin-top: 1.3rem;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  height: 65vh;
  width: 230px;
}
.side-content h4 {
  margin-bottom: 1rem;
  color: #d33c44;
}

/* Recent Orders */
.recent-orders {
  margin-top: 1.3rem;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  height: 65vh;
  width: 700px;
}

/* Scroll container */
.table-scroll {
  max-height: 300px;
  overflow-y: auto;    
  overflow-x: auto;
}

/* Sticky header */
.table-scroll thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;   
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.table-scroll table {
  min-width: 600px;
  border-collapse: collapse;
}

.recent-orders h4 {
  margin-bottom: 1rem;
  color: #d33c44;
}

.recent-orders table {
  width: 100%;
  border-collapse: collapse;
}

.recent-orders th,
.recent-orders td {
  text-align: left;
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.status {
  padding: 0.3rem 0.8rem;
  border-radius: 6px;
  font-size: 0.9rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.status.delivered {
  background: #25a744;
}

.status.pending {
  background: #fdc210;
  color: #333;
}

.status.cancelled {
  background: #eb384a;
}

/* Scrollbar Styling */
.main::-webkit-scrollbar {
  width: 8px;
}
.main::-webkit-scrollbar-thumb {
  background: #d33c44;
  border-radius: 4px;
}

.below-content {
  margin-top: 1.3rem;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  height: 40vh;
  width: 940px;
}